h2{
    display:inline;
}
#list{
    display:inline-block;
    margin:50px 50px;
    list-style:none;
}
#list li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    
}
#btn1{
    padding: 5px 5px;
    color:#00BFFF;
}
#btn1:hover{
    background-color: #00BFFF;
    color:#fff;
}
#btn2{
    padding: 5px 5px;
    color:#F08080;
}
#btn2:hover{
    background-color: #F08080;
    color:#fff;
}
.likes{
    background: #20B2AA;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 45px 10px 43px;
    padding:8px 8px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background 500ms;
}
.likes:hover{
    background: #fff;
    color: #20B2AA;
}

