
@{
    ViewBag.Title = "Index";
}

<h2>The Star Wars API</h2>
<div ng-controller="MainController">
    <ul>
        <li>Name: {{person.name}}</li>
        <li>Height: {{person.height}}</li>
        <li>Mass: {{person.mass}}</li>
        <li>Eyes color: {{person.eye_color}}</li>
        <li>Skin color: {{person.skin_color}}</li>
        <li>Gender: {{person.gender}}</li>
    </ul>

    <ul>
        <li>Name: {{planet.name}}</li>
        <li>Height: {{planet.rotation_period}}</li>
        <li>Mass: {{planet.gravity}}</li>
        <li>Eyes color: {{planet.terrain}}</li>
        <li>Skin color: {{planet.climate}}</li>
        <li>Gender: {{planet.population}}</li>
    </ul>

</div>

